/* src/App.css */

.container {
  max-width: 800px;
}

.navbar-brand {
  font-size: 1.5rem;
  padding-left: 1rem;
}

.navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar {
  padding: 0.5rem 1rem;
}

.navbar-rounded {
  border-radius: 15px; /* Adjust the value to your preference */
  overflow: hidden; /* Ensures rounded corners apply to the content inside */
}
